.footer {
  background-color: green;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  padding: 40px 20px 10px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-name {
  font-size: 20px;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-links li:hover {
  color: #00b4d8;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-size: 14px;
}

/* Responsive Mobile */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-brand {
    justify-content: center;
  }
}
